#spinnerOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    z-index: 9999;
  }

.form-hover {
    transition: all 0.3s ease;
  }
  
.form-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}